input {
    keyboard {
        xkb {
            layout "us,us"
            variant ",intl"
            options "ctrl:nocaps,grp:win_space_toggle"
        }
    }

    touchpad {
        // off
        tap
        dwt
        // dwtp
        drag true
        drag-lock
        natural-scroll
    }

    mouse {
        accel-speed 0.2
    }

    // focus-follows-mouse max-scroll-amount="15%"
}

layer-rule {
    // This is for swaybg; change for other wallpaper tools.
    // Find the right namespace by running niri msg layers.
    match namespace="^wallpaper$"
    place-within-backdrop true
}

overview {
    zoom 0.6
}

layout {
    background-color "transparent"

    gaps 16

    center-focused-column "never"

    preset-column-widths {
        proportion 0.5
        proportion 0.66667
    }

    preset-window-heights {
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }

    default-column-width {
        proportion 0.5
    }

    focus-ring {
        width 4

        // Colors can be set in a variety of ways:
        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

        active-color "#7fc8ff"

        inactive-color "#505050"
    }

    border {
        off

        width 4
        active-color "#ffc87f"
        inactive-color "#505050"

        urgent-color "#9b0000"
    }

    shadow {
        // Uncomment the next line to enable shadows.
        on

        // draw-behind-window true

        // You can change how shadows look. The values below are in logical
        // pixels and match the CSS box-shadow properties.

        // Softness controls the shadow blur radius.
        softness 30

        // Spread expands the shadow.
        spread 5

        // Offset moves the shadow relative to the window.
        offset x=0 y=5

        // You can also change the shadow color and opacity.
        color "#0007"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}


// This line starts waybar, a commonly used bar for Wayland compositors.
spawn-at-startup "waybar"
spawn-at-startup "swaybg" "-i" "/home/nto/Pictures/Wallpapers/Simon Stålenhag 3.jpeg"
spawn-at-startup "swayidle" "-w" "timeout" "301" "niri msg action power-off-monitors" "timeout" "450" "swaylock -f" "-i" "/home/nto/Pictures/Wallpapers/lance-asper-5Kp5LVjINgI-unsplash.jpg" "before-sleep" "swaylock -f" "-i" "/home/nto/Pictures/Wallpapers/lance-asper-5Kp5LVjINgI-unsplash.jpg"

spawn-at-startup "xwayland-satellite"
spawn-at-startup "emacs" "--daemon=vanilla" "--init-directory=~/Code/dotfiles/emacs_basic/"

prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

window-rule {
    default-column-width {}
    geometry-corner-radius 8
    clip-to-geometry true
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"bitwarden"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

hotkey-overlay {
    skip-at-startup
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Ctrl+Return repeat=false hotkey-overlay-title="Open a Terminal" { spawn "~/.local/bin/ghostty/zig-out/bin/ghostty"; }
    Mod+Return repeat=false hotkey-overlay-title="Open a Terminal" { spawn "foot"; }
    Mod+Shift+Return repeat=false hotkey-overlay-title="Open a File Manager" { spawn "nautilus"; }
    Mod+D hotkey-overlay-title="Run an Application" { spawn "fuzzel"; }
    Mod+Shift+E hotkey-overlay-title="Open Editor" repeat=false { spawn "emacs"; }
    Mod+E hotkey-overlay-title="Open Editor (minimal)" repeat=false { spawn "emacsclient" "-c" "-s" "vanilla"; }

    Mod+T repeat=false hotkey-overlay-title="Toggle theme" { spawn "~/Code/dotfiles/scripts/change_theme.sh"; }

    Super+Alt+L hotkey-overlay-title="Lock the Screen" { spawn "swaylock" "-i" "~/Pictures/Wallpapers/lance-asper-5Kp5LVjINgI-unsplash.jpg"; }

    XF86AudioRaiseVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute         allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute      allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "s" "5%+"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "s" "5%-"; }

    Mod+Ctrl+E repeat=false { toggle-overview; }

    Mod+Shift+Q { close-window; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Ctrl+O { move-workspace-to-monitor-next; }
    Mod+Shift+O { move-window-to-monitor-next; }
    Mod+O { focus-monitor-next; }

    Mod+Ctrl+K { focus-workspace-up; }
    Mod+Ctrl+J { focus-workspace-down; }

    Mod+Z { spawn "~/Code/dotfiles/scripts/zen_mode.sh"; }
    Mod+S { spawn "env" "XDG_CURRENT_DESKTOP=gnome" "gnome-control-center"; }

    Mod+Shift+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+Shift+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+WheelScrollDown      { focus-column-right; }
    Mod+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    Mod+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }
    Mod+Shift+TouchpadScrollDown { spawn "brightnessctl" "s" "5%+"; }
    Mod+Shift+TouchpadScrollUp   { spawn "brightnessctl" "s" "5%-"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }


    Mod+Tab { focus-window-previous; }
    Mod+Shift+Tab { focus-workspace-previous; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+F { fullscreen-window; }
    Mod+M { maximize-column; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Ctrl+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+Escape { quit; }

    // Mod+Shift+P { power-off-monitors; }
    Mod+Ctrl+P { spawn "wlogout"; }
}

switch-events {
    // lid-close { spawn "notify-send" "The laptop lid is closed!"; }
    // lid-open { spawn "notify-send" "The laptop lid is open!"; }
}

environment {
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    QT_QPA_PLATFORM "wayland"
    MOZ_ENABLE_WAYLAND "1"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    DISPLAY ":0"
}
